/*---------------------------------------------------*/
/* Generalidades */
/*---------------------------------------------------*/
:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
    /*Heredan las caracteristicas de el padre (html)*/
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    /*Tamaño de la fuente*/
    font-size: 1.6rem;
    /*Interlineado un poco mas grande para que se pueda leer mejor*/
    line-height: 2;
}

/*---------------------------------------------------*/
/* Globales */
/*---------------------------------------------------*/
.contenedor {
    max-width: 120rem;
    width: 90%;
    /*min(x,y)*/
    /*Centrar todo el contenido de la pagina*/
    margin: 0 auto;
}

a {
    /*Quitamos todas las lineas que tienen los enlaces*/
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);


    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*---------------------------------------------------*/
/* Utilidades */
/*---------------------------------------------------*/

.no-margin{
    /*Clase para eliminar el margen*/
    margin: 0;
}

.no-padding{
    /*Clase para eliminar los padding*/
    padding: 0;
}

.centrar-texto{
    /*Clase para centrar el texto*/
    text-align: center;
}

/*---------------------------------------------------*/
/* Header */
/*---------------------------------------------------*/
.webp .header{
    background-image: url(../img/banner.webp);
}
.no-webp .header{
    background-image: url(../img/banner.jpg);
}
.header{
    

    /*Agregamos un tamano para que se muestre en pantalla*/
    height: 60rem;

    /*Cubra toda la pantalla de izquie-derecha*/
    background-size: cover;
   

    /*No queremos que se repita la imagen*/
    background-repeat: no-repeat;

    /*Para que se adapte a la pantalla sin recorrer la imagen */
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5.5rem;
}
@media(min-width: 768px){
    .header__texto{
        margin-top: 14rem;
    }
}
.barra{
    padding-top: 2rem;
}

@media(min-width: 768px){
    .barra{
        display: flex;

        /*Centrar horizontalmente*/
        justify-content: space-between;

        /*Centrar verticalmente*/
        align-items: center;
    }
}

.logo{

    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

@media(min-width: 768px){
    .navegacion{
        display: flex;
        gap: 1.5rem;
    }
}

.navegacion__enlace{
    /*Elementos debajo del otro*/
    display: block;

    /*Elementos centrados en la pantalla pequena*/
    text-align: center;

    /*Aumento el tamano de l aunte*/
    font-size: 1.8rem;

    /*Color del texto*/
    color: var(--blanco);
}

.navegacion__enlace:hover{
    color: var(--primario);
}

/*---------------------------------------------------*/
/* Blog (Contenido principal) */
/*---------------------------------------------------*/

@media(min-width:768px){
    .contenido-principal{

        /*Usamos GRID*/
        display: grid;

        /*2/3 la grande, 1/3 la pequena*/
        grid-template-columns: 2fr 1fr;

        column-gap: 4rem;

    }
}

/*Agregamos un margen en la parte inferior de cada articulos*/
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

/*Selecccionamos el ultimo con last-of-type*/
.entrada:last-of-type{

    /*Quitale el border*/
    border: none;
    /*Quitale el margen*/
    margin-bottom: 0;
}

/*Configuracion de los botones del blog*/
.boton{
    /*En un dispositivo pequeño quiero que se vea de lado a lado, todo el tamano*/
    display: block;

    /*Le ponemos la fuente de los headings*/
    font-family: var(--fuenteHeading);

    /*Color blanco*/
    color: var(--blanco);

    /*Alineacion del texto en el centro*/
    text-align: center;

    /*Padding 1 vertical, 3 horizontal*/
    padding: 1rem 3rem;

    /*Tamano de letra 1.8rem*/
    font-size: 1.8rem;

    /*Todas las letras en mayuscula*/
    text-transform: uppercase;

    /*Bold Negrita*/
    font-weight: 700;

    /*Le estamos dando nuestros propios estilos*/
    border: none;
}

@media(min-width: 768px){
    .boton{

        /*Para respetar cambios de tamaño o padding o margenes*/
        display: inline-block;

        margin-bottom: 1.5rem;
        
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    /*Color de fondo negro*/
    background-color: var(--negro);
}


.boton--secundario{

    /*Color de fondo cafe*/
    background-color: var(--primario);
}
/*-------------------------------------------------*/
/*SideBar*/
/*--------------------------------------------------*/
.cursos{

    /*Quitamos las viñetas*/
    list-style: none;
}

.widget-curso{

    /*Le damos borde al boton*/
    border-bottom: 1px solid var(--gris);
    /*Agregamos una margen hacia abajo de 2rem*/
    margin-bottom: 2rem;
}

/*Para el ultimo elemento le quietamos el borde y le quitamos la margen*/
.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}


.widget-curso__label{

    /*Agregamos la familia tendra el texto de precio y cupo*/
    font-family: var(--fuenteHeading);

    /*Lo ponemos todo en negrita*/
    font-weight: bold;
}

.widget-curso__info{
   
    /*Ponemos el texto de la informacion en normal despues de los dos puntos*/
    font-weight: normal;
}
.widget-curso__label, .widget-curso__info{
    /*Aumentamos el tamaño de precio y cupo (Toda la informacion)*/
    font-size: 2rem;
} 

/*-------------------------------------------------*/
/* Footer */
/*--------------------------------------------------*/

.footer{
    /*Colocamos un color de fondo*/
    background-color: var(--negro);
    /*Colocamos padding de 3 hacia arriba y 0 a los lados*/
    padding-bottom: 3rem;

    /*Separacion entre los el contenido principal y el footer*/
    margin-top: 2rem;
}

/******************************************************************/
/* PAGINA DE NOSOTROS */
/******************************************************************/

/*----------------------------------------------------*/
/*Encabezado con la imagen */
/*----------------------------------------------------*/
.header-nosotros{
    background-image: url(../img/banner.jpg);

    /*Agregamos un tamano para que se muestre en pantalla*/
    height: 45rem;

    /*Cubra toda la pantalla de izquie-derecha*/
    background-size: cover;
   
    /*No queremos que se repita la imagen*/
    background-repeat: no-repeat;

    /*Para que se adapte a la pantalla sin recorrer la imagen */
    background-position: center center;
}

/*-----------------------------------------------------*/
/* Contenido principal */
/*-----------------------------------------------------*/
.sobre-nosotros__texto{
    font-family: var(--fuenteParrafos);
}

@media(min-width: 768px){
    .sobre-nosotros{
        display: flex;
        gap: 2rem;
    }
    .sobre-nosotros__imagen, .sobre-nosotros__texto{
        flex-basis: 50%;
    }

}

/* Con grid

@media(min-width: 768px){
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        column-gap: 2rem;
    }
}*/

/******************************************************************/
/* PAGINA DE CURSOS */
/******************************************************************/

/*----------------------------------------*/
/* Contenido principal Curso */
/*----------------------------------------*/

.curso{

    /*Espacio entre un curso y el otro*/
    padding: 3rem 0;
    /*Colocamos la linea al final del curso*/
    border-bottom: 1px solid var(--gris);
}

@media(min-width: 768px){
    .curso{
        display: grid;
        grid-template-columns: 33.3% 66.6%;
        /*grid-template-columns: 1fr 2fr;*/
        column-gap: 2rem;
    }
}

.curso:last-of-type{
    /*Quitamos la linea del ultimo curso*/
    border:none;
}

/*Copiamos y pegamos las mimsmas caracteristicas de los textos en el div*/

.curso__label{

    /*Agregamos la familia tendra el texto de precio y cupo*/
    font-family: var(--fuenteHeading);

    /*Lo ponemos todo en negrita*/
    font-weight: bold;
}

.curso__info{
   
    /*Ponemos el texto de la informacion en normal despues de los dos puntos*/
    font-weight: normal;
}
.curso__label, .curso__info{
    /*Aumentamos el tamaño de precio y cupo (Toda la informacion)*/
    font-size: 2rem;
} 

/*******************************************************/
/* PAGINA DE ENTRADA */
/*******************************************************/

.entrada__informacion{
    font-family: var(--fuenteParrafos);
}

/*******************************************************/
/* PAGINA DE CONTACTO*/
/*******************************************************/

.contacto-bg{
    background-image: url(../img/contacto.jpg);

    /*Una altura de 40 rem*/
    height: 40rem;

    /*Tome toda la pantalla*/
    background-size: cover;

    /*No se repita, no es necesario ya que tiene el cover*/
    background-repeat: no-repeat;
}

/*------------------------------------------------------------*/
/* Formulario */
/*------------------------------------------------------------*/


.formulario{
    background-color: var(--blanco);

    /*Colocamos la informacion encima del div de background*/
    margin: -8rem auto 0 auto;
    /*Que tome un poquito menos de toda la pantalla*/
    width: 95%;
    /*Padding de 5rem*/
    padding: 5rem;

}

.campo{
    /*Display definicion*/
    display:flex;
    /*Margen en la parte de abajo */
    margin-bottom: 1rem;
    
}

.campo__label{

    /*Definimos propiedades de flex sin aumnento y 9rem de tamano*/
    flex: 0 0 9rem;
    /*Alineamos el texto hacia la derecha*/
    text-align: right;
    /*Padding hacia la derecha 2rem*/
    padding-right: 2rem;
}

.campo__field{
    /*Hacemos que el campo tenga todo el tamano horizontal*/
    flex: 1;
    /*Hacemos un borde de 1px solid de color gris*/
    border: 1px solid var(--gris);
}

.campo__field--textarea{
    /*Le damos una altura mas grande al mensaje*/
    height: 18rem;
}

